{{- $type := .type -}}
{{- $color := .color | default "secondary" -}}
{{- $hoverColor := .hoverColor | default "" -}}
{{- $opacity := printf "%v" (.opacity | default "100") -}}
{{- $size := .size | default "" -}}
{{- $textClass := printf "text-%s" $color -}}
{{- $sizeClass := "" -}}
{{- if eq $size "xs" -}}
	{{- $sizeClass = "text-xs" -}}
{{- else if eq $size "sm" -}}
	{{- $sizeClass = "text-sm" -}}
{{- end -}}
{{- $hoverTextClass := "" -}}
{{- if ne $hoverColor "" -}}
	{{- $hoverTextClass = printf "group-hover:text-%s" $hoverColor -}}
{{- end -}}
{{- $opacityClass := "opacity-100" -}}
{{- if eq $opacity "25" -}}
	{{- $opacityClass = "opacity-25" -}}
{{- else if eq $opacity "50" -}}
	{{- $opacityClass = "opacity-50" -}}
{{- else if eq $opacity "75" -}}
	{{- $opacityClass = "opacity-75" -}}
{{- end -}}

{{- if eq $type "transition" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="inline-flex h-6 w-6 content-center text-center leading-none fa-solid fa-code-commit {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "learned" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-circle-check {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "unlearned" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-regular fa-circle-xmark {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "log-out" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-right-from-bracket {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "theme-system" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-desktop {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "theme-light" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-sun {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "theme-dark" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-moon {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "chevron-right" -}}
<i class="fa-solid fa-chevron-right leading-none rotate-0 transition-transform duration-300 ease-out group-open:rotate-90 motion-reduce:transition-none {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
{{- else if eq $type "file" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-file {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }} {{ $sizeClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "file-half-dashed" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-file-half-dashed {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }} {{ $sizeClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "direction" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-arrows-up-down-left-right {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }}" aria-hidden="true"></i>
</span>
{{- else if eq $type "tip" -}}
<span class="inline-flex shrink-0 items-center justify-center leading-none {{ $textClass }} {{ $hoverTextClass }}">
	<i class="fa-solid fa-lightbulb {{ $textClass }} {{ $hoverTextClass }} {{ $opacityClass }} {{ $sizeClass }}" aria-hidden="true"></i>
</span>
{{- end -}}