<div class="w-full">
  <div class="-mt-px mx-auto h-3.5 group-data-[size=small]/move-flow:h-2.5 group-data-[size=large]/move-flow:h-5 w-0.5 bg-secondary"></div>

  {{ with .note }}
  <div class="mx-auto flex w-fit items-center gap-2 group-data-[size=small]/move-flow:gap-1.5 group-data-[size=large]/move-flow:gap-3 px-3.5 group-data-[size=small]/move-flow:px-2.5 group-data-[size=large]/move-flow:px-4 py-1 group-data-[size=small]/move-flow:py-0.5 group-data-[size=large]/move-flow:py-0.5 text-xl group-data-[size=small]/move-flow:text-base group-data-[size=large]/move-flow:text-2xl leading-snug text-text">
    <span class="inline-flex shrink-0 items-center justify-center leading-none text-secondary">
      <i class="inline-flex h-6 w-6 group-data-[size=small]/move-flow:h-[1.2rem] group-data-[size=small]/move-flow:w-[1.2rem] group-data-[size=large]/move-flow:h-8 group-data-[size=large]/move-flow:w-8 fa-solid fa-code-commit" aria-hidden="true"></i>
    </span>
    <p>{{ . }}</p>
  </div>
  {{ end }}

  <div class="mx-auto h-3.5 group-data-[size=small]/move-flow:h-2.5 group-data-[size=large]/move-flow:h-5 w-0.5 bg-secondary"></div>
</div>
