{{- $classes := slice
  "max-w-none"
  "text-text"
  "prose"
  "prose-neutral"
  "prose-lg"
  "prose-headings:font-secondary"
  "prose-headings:text-primary"
  "prose-strong:text-primary"
  "prose-a:text-primary"
  "prose-a:no-underline"
  "prose-a:underline-offset-4"
  "prose-a:hover:text-secondary"
  "prose-a:hover:underline"
  "prose-blockquote:text-primary"
  "prose-blockquote:border-primary/30"
  "prose-code:text-secondary"
  "prose-hr:border-primary/20"
  "prose-p:mb-6"
  "[&_p]:mb-6"
  "prose-ul:mb-6"
  "prose-ol:mb-6"
  "prose-li:mb-2"
  "prose-ul:pl-6"
  "prose-ol:pl-6"
  "[&_ol_ul]:mt-0"
  "[&_ul_ol]:mt-0"
  "[&_li>p]:mt-4"
  "[&_li>p]:mb-0"
 -}}

{{- delimit $classes " " -}}
