<footer class="mt-12 border-t border-text/20">
  <div class="site-container py-6 text-sm text-text/70 font-primary">
    <div class="flex flex-wrap items-center gap-x-2 mx-auto justify-center">
      <p>{{ .Site.Title }}</p>
      <span aria-hidden="true">|</span>
      <p><i class="fa-regular fa-copyright" aria-hidden="true"></i> Zoe Locke {{ now.Year }}</p>
      <span aria-hidden="true">|</span>
      <p>Move set is property of Tai Chi Evolutions.</p>
      <span aria-hidden="true">|</span>
      <p>No cookies stored</p>
    </div>
  </div>
</footer>
